* {
  max-width: 1200px;
  margin: 0 auto;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family:Arial;
  background-color: rgb(247, 247, 166);
  letter-spacing: 0.5px;
  color: grey;
}

main.projectStyle {
  padding: 25px 3%;
  margin-top: 20px;
  gap: 30px;
  color:grey;
}

.container {
  display:grid;
  grid-template-columns: repeat(4 1fr);
  grid-row-gap: 10px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

img {
width: 200px;
}

Header {
  background-color: rgb(148, 250, 216);
  Height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 25px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

a:not(:last-child) {
  margin-right: 10px;
}

header nav a.active {
  text-decoration: underline;
}

header img {
  margin-left: 0px;
}

p.aboutMe {
  display:flex;
  grid-template-columns: auto;
  color: rgb(65, 60, 60);
  font-size: 20px;
  text-align: left;
  margin-top: 40px;
}


p.contactInfo {
  color:rgb(65, 60, 60);
  font-size: 20px;
  margin-top: 20px;
}

h1.introduction {
  text-align: center;
  margin-top: 200px;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  font-stretch: wider;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

p.subtitle {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: grey;
}

p.smallprint {
  font-size: 0.8rem;
  font-weight: bold;
  color: grey;
  line-height: 0em;
}

h2.tagline {
  color: grey;
  font-size: 2rem;
  font-weight: bold;
}
